**/*/__pycache__/
**/*.db
**/*.db-journal

**/*/.DS_Store
**/*/._*
.DS_Store
._*

.venv/
data/
.env
logs/
temp/
temp_batches/

experiments/data_samples/askme-*.csv
experiments/data_samples/short_answers_batches/